<!-- <p>login works!</p> -->


    <div class="container">

        <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      
            <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="box-form">
      
            <!-- Left Side -->
      
            <div class="modal-content left">
      
              <div class="overlay">
               
                <h1>Hello   <i class="bi bi-emoji-sunglasses"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-emoji-sunglasses" viewBox="0 0 16 16">
                    <path d="M4.968 9.75a.5.5 0 1 0-.866.5A4.498 4.498 0 0 0 8 12.5a4.5 4.5 0 0 0 3.898-2.25.5.5 0 1 0-.866-.5A3.498 3.498 0 0 1 8 11.5a3.498 3.498 0 0 1-3.032-1.75zM7 5.116V5a1 1 0 0 0-1-1H3.28a1 1 0 0 0-.97 1.243l.311 1.242A2 2 0 0 0 4.561 8H5a2 2 0 0 0 1.994-1.839A2.99 2.99 0 0 1 8 6c.393 0 .74.064 1.006.161A2 2 0 0 0 11 8h.438a2 2 0 0 0 1.94-1.515l.311-1.242A1 1 0 0 0 12.72 4H10a1 1 0 0 0-1 1v.116A4.22 4.22 0 0 0 8 5c-.35 0-.69.04-1 .116z"/>
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-1 0A7 7 0 1 0 1 8a7 7 0 0 0 14 0z"/>
                  </svg></i></h1>
                  <br>
                  <img src="../assets/images/bgi1.png" alt="" >
      <br><br><br>

                <h5><b><i class="bi bi-megaphone-fill"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="26" fill="currentColor" class="bi bi-megaphone-fill" viewBox="0 0 16 16">
                    <path d="M13 2.5a1.5 1.5 0 0 1 3 0v11a1.5 1.5 0 0 1-3 0v-11zm-1 .724c-2.067.95-4.539 1.481-7 1.656v6.237a25.222 25.222 0 0 1 1.088.085c2.053.204 4.038.668 5.912 1.56V3.224zm-8 7.841V4.934c-.68.027-1.399.043-2.008.053A2.02 2.02 0 0 0 0 7v2c0 1.106.896 1.996 1.994 2.009a68.14 68.14 0 0 1 .496.008 64 64 0 0 1 1.51.048zm1.39 1.081c.285.021.569.047.85.078l.253 1.69a1 1 0 0 1-.983 1.187h-.548a1 1 0 0 1-.916-.599l-1.314-2.48a65.81 65.81 0 0 1 1.692.064c.327.017.65.037.966.06z"/>
                  </svg></i>   "Experience the future of communication today"</b>
            </h5>
      
                <!-- <span>
      
                  <p>login with social media</p>
      
                  <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
      
                  <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i> Login with Twitter</a>
      
                </span> -->
      
              </div>
      
            </div>
      
       
      
            <!-- Right Side -->
      
            <div class="modal-content right">
      
              <div class="modal-body">
      
                <div class="form-title text-center">
      
                  <h4>Login</h4>
      
                </div>
      
                <div class="d-flex flex-column text-center inputs">
      
                  <!-- <form> -->
                    <form class="was-validated" #proform="ngForm">

                      <div class="form-group">
      
                        <input type="name" class="form-control" id="name" placeholder="Your Name..." [(ngModel)]="name" name="uname" #uname="ngModel" required>
        
                      </div>
      
                    <div class="form-group">
      
                      <input type="email" class="form-control" id="email" placeholder="Your email address..." [(ngModel)]="email" name="uemail" #uemail="ngModel" required>
      
                    </div>
      
                    <div class="form-group">
                          
                      <input type="password" class="form-control" id="password" placeholder="Your password..." [(ngModel)]="password" name="upassword" #upassword="ngModel" required>
      
                    </div>
      <br>
                    <button type="button" class="btn btn-warning btn-block btn-round"  [disabled]="proform.form.invalid" (click)="datasubmitted(name,email,password)">Sign In</button>
                     <div class="text-success" *ngIf="valid" routerLink="/admin"><b><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-unlock-fill" viewBox="0 0 16 16">
                      <path d="M11 1a2 2 0 0 0-2 2v4a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V9a2 2 0 0 1 2-2h5V3a3 3 0 0 1 6 0v4a.5.5 0 0 1-1 0V3a2 2 0 0 0-2-2z"/>
                    </svg> Logging you in...<a routerLink="/admin" target="_parent" rel="sponsored"> Tap here</a> to Enter</b></div> 
                     <div class="text-danger" *ngIf="!valid">Invalid Credentials</div>
                  </form>
      
                  <!-- <div class="text-center text-muted delimiter">or use a social network</div>
      
                  <div class="d-flex justify-content-center social-buttons"> 
      
                    Social buttons here -->
      
                  </div>
      
                </div>
      
      
              <div class="modal-footer d-flex justify-content-center">
      
                <div class="signup-section">Not Registered yet? <a href="#a" class="text-warning"> Sign Up</a>.</div>
      
              </div>
            </div>
            </div>
      
          </div>
      
        </div>
      
      </div>

