<!--header-->
<header class="main-header clearfix" role="header">
  <div class="logo">
    <a href="#"><em>Pro</em>Vue</a>
  </div>
  <a href="#menu" class="menu-link"><i class="fa fa-bars"></i></a>
  <nav id="menu" class="main-nav" role="navigation">
    <ul class="main-menu">
      <li><a href="#section1"> <i class="bi bi-house-fill"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-fill" viewBox="0 0 16 16">
        <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L8 2.207l6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5Z"/>
        <path d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6Z"/>
      </svg></i>Home</a></li>

       <li> <!--<a href="#section4">Courses</a> -->
        <div class="main">
          <!-- Another variation with a button -->
          <div class="input-group">
             <input type="text" class="form-control" placeholder="Search this blog">
             <div class="input-group-append">
                <button class="btn btn-secondary" type="button" style="background-color: #f5a425; border-color:#f5a425 ">
                <i class="fa fa-search"></i>
                </button>
             </div>
          </div>
       </div></li>
      <li><a href="wired">WiredProducuts</a></li>
      <!-- <li><a href="#section6">Contact</a></li> -->
      <!-- <li><a href="https://templatemo.com" class="external">External</a></li> -->
  <!-- <div class="login_menu"> -->
    <!-- <ul> -->
       <li> <!--<a href="#"> -->
        <a routerLink="/wireless">
       <i class="bi bi-pencil-square" aria-hidden="true">
         <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
           <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
           <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
           </svg>
       </i>
        <span class="padding_10">WirelessProducts</span></a>
       </li>
       <!-- <li><a routerLink="/business">
        <i class="fa fa-user" aria-hidden="true"></i>
        <span class="padding_10"  data-toggle="modal" data-target="#loginModal">BusinessProducts</span></a>  
       </li> -->
    <!-- </ul> -->
   <!-- </div> -->
    </ul>
  <!-- <div class="login_menu">
  <ul>
     <li><a href="#">
     <i class="bi bi-pencil-square" aria-hidden="true">
       <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
         <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
         <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
         </svg>
     </i>
      <span class="padding_10">Register</span></a>
     </li><br>
     <li><a routerLink="/login">
      <i class="fa fa-user" aria-hidden="true"></i>
      <span class="padding_10"  data-toggle="modal" data-target="#loginModal">Login</span></a>  
     </li>
  </ul>
 </div> -->
  </nav>
  <br><br><br><br>
  <header>
      <style>
          .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
          }
    
          @media (min-width: 768px) {
            .bd-placeholder-img-lg {
              font-size: 3.5rem;
            }
          }
    
          .b-example-divider {
            width: 100%;
            height: 3rem;
            background-color: rgba(0, 0, 0, .1);
            border: solid rgba(0, 0, 0, .15);
            border-width: 1px 0;
            box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
          }
    
          .b-example-vr {
            flex-shrink: 0;
            width: 1.5rem;
            height: 100vh;
          }
    
          .bi {
            vertical-align: -.125em;
            fill: currentColor;
          }
    
          .nav-scroller {
            position: relative;
            z-index: 2;
            height: 2.75rem;
            overflow-y: hidden;
          }
    
          .nav-scroller .nav {
            display: flex;
            flex-wrap: nowrap;
            padding-bottom: 1rem;
            margin-top: -1px;
            overflow-x: auto;
            text-align: center;
            white-space: nowrap;
            -webkit-overflow-scrolling: touch;
          }
    
          .btn-bd-primary {
            --bd-violet-bg: #712cf9;
            --bd-violet-rgb: 112.520718, 44.062154, 249.437846;
    
            --bs-btn-font-weight: 600;
            --bs-btn-color: var(--bs-white);
            --bs-btn-bg: var(--bd-violet-bg);
            --bs-btn-border-color: var(--bd-violet-bg);
            --bs-btn-hover-color: var(--bs-white);
            --bs-btn-hover-bg: #6528e0;
            --bs-btn-hover-border-color: #6528e0;
            --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
            --bs-btn-active-color: var(--bs-btn-hover-color);
            --bs-btn-active-bg: #5a23c8;
            --bs-btn-active-border-color: #5a23c8;
          }
          .bd-mode-toggle {
            z-index: 1500;
          }
        </style>
      <!-- <div class="px-2 py-1 text-bg-warning border-bottom">
        <div class="container">
          <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
              <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
            </a>

            <a href="wired">Enterprise</a>
     
      
       <a routerLink="/business">
        <i class="fa fa-user" aria-hidden="true"></i>
        <span class="padding_10"  data-toggle="modal" data-target="#loginModal">Small Business</span></a>   -->
       
             <!--<li> <a href="#"> -->
              <!-- <a routerLink="/wireless">
                     <i class="bi bi-pencil-square" aria-hidden="true">
                         <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                             <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                             <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                           </svg>
                     </i>
                      <span class="padding_10">Consumer</span></a>
                   </li>
          </div>
        </div>
      </div><br> -->
      
<div class="centered-container">

      <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
        <input type="radio" class="btn-check" name="category" id="btnradio1" autocomplete="off" checked [(ngModel)]="category"  value="Enterprise">
        <label class="btn btn-outline-warning" for="btnradio1">Enterprise</label>
      
        <input type="radio" class="btn-check" name="category" id="btnradio2" autocomplete="off" [(ngModel)]="category"  value="Business">
        <label class="btn btn-outline-warning" for="btnradio2">Business</label>

        <input type="radio" class="btn-check" name="category" id="btnradio3" autocomplete="off" [(ngModel)]="category" value="Consumer">
        <label class="btn btn-outline-warning" for="btnradio3">Consumer</label>
    
      </div>
    </div>

      <br>

      <!-- Example single danger button -->
<!-- <div class="btn-group">
<button type="button" class="btn btn-warning dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
  --Filter By Product Sub-Category--
</button>
<ul class="dropdown-menu">
  <li>PrePaid</li>
  <li><hr class="dropdown-divider"></li>
  <li>PostPaid</li>
</ul>
</div> -->
      <!-- <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
          <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
          <label class="btn btn-outline-warning" for="btnradio1">PostPaid</label>
        
          <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
          <label class="btn btn-outline-warning" for="btnradio2">PrePaid</label>
      
        </div> -->
       
        <div   class="col-md-2 pageElement">

          <select [(ngModel)]="productsubcategory" name="productsubcategory" id="inputState" class="form-select custom-select" style="width: 350px; height: 40px;">
        
            <option value="FilterByProductSubCategory" disabled selected>Filter By Product Sub-Category</option>
        
            <option *ngFor="let c of productsubcategory" >{{c}}</option>
        
            <option value="ALL">ALL</option>
            <option value="PrePaid">PREPAID</option>
            <option value="PostPaid">POSTPAID</option>
        
          </select>
        
        </div>
     
    </header>

</header>
<!-- <div *ngFor="let p of Products | categoryFilter:category | productSubCategory:productsubcategory"> -->

  <div class="b-example-divider">

  <section class="cards-wrapper">
    
    <div *ngFor="let p of Products | categoryFilter:category | productSubCategory:productsubcategory ">

      
  <div class="card-grid-space">
     
  <!-- <button type="button" class="btn btn-lg btn-danger" data-bs-toggle="popover" data-bs-title="Popover title" data-bs-content="And here's some amazing content. It's very engaging. Right?">Click to toggle popover</button> -->
  <br>
  <br>
 <!-- <div class="card" > -->
  <!-- <div class="num">01</div> -->
  <a class="card" style="--bg-img: url(https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&resize_w=1500&url=https://codetheweb.blog/assets/img/posts/html-syntax/cover.jpg)">
  <div>
  <!-- <h1>Plan-Rs 299/Month</h1> -->

  

  <div class="text-center border-bottom p-4 pt-5">

      <h4 class="border-bottom pb-3"><i class="fa fw-normal text-primary me-3"></i><b>₹ {{p.plan}}</b></h4>
     
      <h4 class="fw-bold">Subscriptions</h4>
      <div *ngFor="let s of p.subscriptions">
       <p class="mb-0"><b>{{s}}<i class="bi bi-tv-fill"></i></b></p>
       <p class="border-bottom pb-3"></p>

      <!-- <p class="mb-0"><b>Netflix <i class="bi bi-cloud-fill"></i></b></p>

      <p class="mb-0"><b>Zee5 <i class="bi bi-film"></i></b></p> -->

  </div>
  <div class="p-4">

      <p class="border-bottom pb-3"><i class="fa fa-check text-primary me-3"></i>Pack validity  {{p.validity}}</p>

      <p class="border-bottom pb-3"><i class="fa fa-check text-primary me-3"></i>Total data   {{p.data}}</p>

      <p class="border-bottom pb-3"><i class="fa fa-check text-primary me-3"></i>Data at high speed*   {{p.dataperday}}</p>

      <p class="border-bottom pb-3"><i class="fa fa-check text-primary me-3"></i>Voice    {{p.voice}}</p>

      <p class="mb-0"><i class="fa fa-check text-primary me-3"></i>SMS     {{p.sms}}</p>

  </div></div>
  <p></p>
  <div class="date">{{p.productsubcategory}}</div>
  <div class="tags">
    <button type="submit" id="form-submit" class="button" >Buy</button>
  <!-- <div class="tag">Buy</div> -->
  </div>
  </div>
</a>
  </div>
  </div>
  
</section>
<!-- </div> -->
</div>


  
<!-- </div> -->


  <!-- {{Products|json}} -->

  
  
  <!-- <div class="card-grid-space">
      <div class="num">01</div>
      <a class="card" href="https://codetheweb.blog/2017/10/06/html-syntax/" style="--bg-img: url(https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&resize_w=1500&url=https://codetheweb.blog/assets/img/posts/html-syntax/cover.jpg)">
      <div>
      <h1></h1>
      <p>The syntax of a language is how it works. How to actually write it. Learn HTML syntax…</p>
      <div class="text">PostPaid</div>
      <div class="tags">
      <div class="tag">HTML</div>
      </div>
      </div>
      </a>
      </div>
  <div class="card-grid-space">
  <div class="num">02</div>
  <a class="card" href="https://codetheweb.blog/2017/10/09/basic-types-of-html-tags/" style="--bg-img: url('https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&resize_w=1500&url=https://codetheweb.blog/assets/img/posts/basic-types-of-html-tags/cover.jpg')">
  <div>
  <h1>Basic types of HTML tags</h1>
  <p>Learn about some of the most common HTML tags…</p>
  <div class="date">9 Oct 2017</div>
  <div class="tags">
  <div class="tag">HTML</div>
  </div>
  </div>
  </a>
  </div>
  <div class="card-grid-space">
  <div class="num">03</div>
  <a class="card" href="https://codetheweb.blog/2017/10/14/links-images-about-file-paths/" style="--bg-img: url('https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&resize_w=1500&url=https://codetheweb.blog/assets/img/posts/links-images-about-file-paths/cover.jpg')">
  <div>
  <h1>Links, images and about file paths</h1>
  <p>Learn how to use links and images along with file paths…</p>
  <div class="date">14 Oct 2017</div>
  <div class="tags">
  <div class="tag">HTML</div>
  </div>
  </div>
  </a>
  </div>
  </a> -->
  <!-- </div> -->
  <!-- https://images.unsplash.com/photo-1520839090488-4a6c211e2f94?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=38951b8650067840307cba514b554ba5&auto=format&fit=crop&w=1350&q=80 -->
  <!-- </section>
</div> -->